body {
    background-color: rgba(119, 243, 243, 0.349);


}
 .wrapper {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 14px 32px 0px (0,0,0,rgba(0,0,0,0.15));

 }

 #allany{
    float: left;
    height: 420px;
    width: 327px;


 }